<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Barbershop</title>
    <link rel="icon" href="/static/logo.png" />


    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="/static/css/mycss.css">
    <script src="/static/js/service.js"></script>
    <link rel="stylesheet" href="/static/css/like.css">
</head>
<body>
    <header>
      <div class="bg-dark collapse" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <object type="image/svg+xml" data="/static/logo.svg" class="logo" style="width: 3rem;">
                Barber Logo <!-- fallback image in CSS -->
              </object>
            <strong>My Place</strong>
          </a>
          <div>
            <button id="loginButton" type="button" class="btn btn-outline-light">Login</button>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>

        </div>
      </div>
    </header>
    
    <main class="bg-main">
    
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light h1-font-color">example</h1>
            <p class="lead main-desc">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <button onclick="Service.showSchedule()" id="scheduleButton" type="button" class="btn btn-warning my-1" style="font-size: 1.5rem;"> 
              <div style="display: flex;">
                <div>Schedule&lrm; &lrm; </div>
                <object style="width: 2rem;" type="image/svg+xml" data="/static/scissors.svg" class="logo">
                    Kiwi Logo <!-- fallback image in CSS -->
                </object> 
              </div> 
            </button>
          </div>
        </div>
      </section>
    
      <div class="album py-5 bg-light posts-container">
        <div class="container" id="schedule" style="margin-bottom: 3rem;">

        </div>
        <div class="container">

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="cardgroup">
            <div class="col">
                <div class="card bg-dark text-white">
                    <img src="/static/Pinwheel.gif" alt="">
                    <p class="p-2 m-0 small">
                      Loading...
                    </p>
                    <div class="card-img-overlay ">
                        <!-- <p class="card-text  small position-absolute bottom-0 text-light w-100" style="display: block;">
                            Last updated 3 mins a go
                        </p> -->
                        <div class="card-text position-absolute bottom-0 text-light w-100" style="margin-left: -16px; color: black;">
                            <p class="p-2 m-0 small">
                              Loading...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark text-white">
                  <img src="/static/Pinwheel.gif" alt="">
                  <p class="p-2 m-0 small">
                    Loading...
                  </p>
                  <div class="card-img-overlay ">
                        <!-- <p class="card-text  small position-absolute bottom-0 text-light w-100" style="display: block;">
                            Last updated 3 mins ago
                        </p> -->
                        <div class="card-text position-absolute bottom-0 text-light w-100" style="margin-left: -16px; color: black;">
                            <p class="p-2 m-0 small">
                              Loading...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark text-white">
                  <img src="/static/Pinwheel.gif" alt="">
                  <p class="p-2 m-0 small">
                    Loading...
                  </p>
                  <div class="card-img-overlay ">
                        <!-- <p class="card-text  small position-absolute bottom-0 text-light w-100" style="display: block;">
                            Last updated 3 mins ago
                        </p> -->
                        <div class="card-text position-absolute bottom-0 text-light w-100" style="margin-left: -16px; color: black;">
                            <p class="p-2 m-0 small">
                                Loading...
                            </p>
                        </div>
                  </div>

                </div>
            </div>
    
            
          </div>
        </div>
      </div>
    
    </main>
    
    <footer class="text-muted py-5 bg-dark">
      <div class="container">
        <p class="float-end mb-1">
          <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>
        <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.0/getting-started/introduction/">getting started guide</a>.</p>
      </div>
    </footer>    
          
    </body>
    <script>
      $("#loginButton").click(()=>{
        location.replace("/login")
      })
      Service.checkLoggedIn()
      Service.showImages()
      Service.schedule()
    </script>
</html>